.snakemake/
map/
docs/
logs/
results/AG*
results/
workflow/scripts/randomisations/
workflow/scripts/*ipynb
results/vcfs/
results/plink/
results/metadata/
.R*
config/metadata.tsv
.Rproj.user
results/site_filters/
results/snp_genotypes/
images/
crosses.fam
workflow/dev_notebooks/
workflow/scripts/selscan*
results/manifest.tsv
